extends ../layouts/page.pug

block vars
  - var bodyClass = 'home'
  - var pageTitle = ''

block head
  //- conteúdo que será inserido dentro do `head` da página

block content
  h1 teste

block scripts
  //- tags javascript que serão inseridas no final do arquivo, antes do nosso JS principal
