include ../helpers.pug

+vtex-controller('<vtex.cmc:productImage zoom="on" />')
  .apresentacao
    #setaThumbs
    #show
      #include
        #image(productindex='0')
          a.image-zoom(href='http://via.placeholder.com/1000x1000', rel='undefined', title='', style='outline-style: none; text-decoration: none;')
            .zoomPad
              img#image-main.sku-rich-image-main(src='http://via.placeholder.com/1000x1000', productindex='0', title='', style='opacity: 1;')
              .zoomPup(style='top: 204px; left: 171.672px; width: 87px; height: 87px; position: absolute; border-width: 1px; display: none;')
              .zoomWindow(style='position: absolute; z-index: 5001; left: 302px; top: 0px; display: none;')
                .zoomWrapper(style='width: 300px;')
                  .zoomWrapperTitle(style='width: 100%; position: absolute; display: none;')
                  .zoomWrapperImage(style='width: 100%; height: 300px;')
                    img(src='http://via.placeholder.com/1000x1000', style='position: absolute; border: 0px; display: block; left: -591.342px; top: -702.055px;')
              .zoomPreload(style='visibility: hidden; top: 146px; left: -100px; position: absolute;')
      ul.thumbs
        li
          a#botaoZoom(href='javascript:void(0);', title='Zoom', rel='http://via.placeholder.com/1000x1000', zoom='http://via.placeholder.com/1000x1000')
            img(src='http://via.placeholder.com/55x55')
        li
          a#botaoZoom(href='javascript:void(0);', title='Zoom', rel='http://via.placeholder.com/1000x1000', zoom='http://via.placeholder.com/1000x1000')
            img(src='http://via.placeholder.com/55x55')
        li
          a#botaoZoom(href='javascript:void(0);', title='Zoom', rel='http://via.placeholder.com/1000x1000', zoom='http://via.placeholder.com/1000x1000')
            img(src='http://via.placeholder.com/55x55')
        li
          a#botaoZoom(href='javascript:void(0);', title='Zoom', rel='http://via.placeholder.com/1000x1000', zoom='http://via.placeholder.com/1000x1000')
            img(src='http://via.placeholder.com/55x55')
        li
          a#botaoZoom(href='javascript:void(0);', title='Zoom', rel='http://via.placeholder.com/1000x1000', zoom='http://via.placeholder.com/1000x1000')
            img(src='http://via.placeholder.com/55x55')
