link(rel="icon", href="/arquivos/favicon16.png", sizes="16x16")/
link(rel="icon", href="/arquivos/favicon32.png", sizes="32x32")/
link(rel="icon", href="/arquivos/favicon48.png", sizes="48x48")/
link(rel="icon", href="/arquivos/favicon57.png", sizes="57x57")/
link(rel="icon", href="/arquivos/favicon64.png", sizes="64x64")/
link(rel="icon", href="/arquivos/favicon72.png", sizes="72x72")/
link(rel="icon", href="/arquivos/favicon120.png", sizes="120x120")/
link(rel="icon", href="/arquivos/favicon128.png", sizes="128x128")/
link(rel="icon", href="/arquivos/favicon144.png", sizes="144x144")/
link(rel="icon", href="/arquivos/favicon152.png", sizes="152x152")/
link(rel="icon", href="/arquivos/favicon195.png", sizes="195x195")/
link(rel="icon", href="/arquivos/favicon228.png", sizes="228x228")/
