include ../helpers.pug
header.header
  .container
    .columns
      .column
        | First column
      .column
        | Second column
      .column
        | Third column
      .column
        | Fourth column
