mixin vtex-controller(tag)
  if (global.process.env.NODE_ENV === 'production')
    != tag
  else
    block

- locals.replaceSpecialChars = function(s) {
-   var b = {
-     "\u00e7": "c","\u00e6": "ae","\u0153": "oe","\u00e1": "a","\u00e9": "e","\u00ed": "i","\u00f3": "o","\u00fa": "u","\u00e0": "a","\u00e8": "e","\u00ec": "i","\u00f2": "o","\u00f9": "u","\u00e4": "a","\u00eb": "e","\u00ef": "i","\u00f6": "o","\u00fc": "u","\u00ff": "y","\u00e2": "a","\u00ea": "e","\u00ee": "i","\u00f4": "o","\u00fb": "u","\u00e5": "a","\u00e3": "a","\u00f8": "o","\u00f5": "o","\u00c1": "A","\u00c9": "E","\u00cd": "I","\u00d3": "O","\u00da": "U","\u00ca": "E","\u00d4": "O","\u00dc": "U","\u00c3": "A","\u00d5": "O","\u00c0": "A","\u00c7": "C"
-   };
-   return (s || '').replace(/[\u00e0-\u00fa]/g, function(a) {
-     return "undefined" != typeof b[a] ? b[a] : a;
-   }).replace(/\s|\/|\$|\&|\/|\\/g, '-').toLowerCase();
- };
