include ../helpers

block vars
  - var pageTitle = ''
  - var bodyClass = ''

doctype html
html(xmlns="http://www.w3.org/1999/xhtml", xmlns:vtex="http://www.vtex.com.br/2009/vtex-common", xmlns:vtex.cmc="http://www.vtex.com.br/2009/vtex-commerce", lang="pt-br")
  head
    +vtex-controller()
      title= "%STORE_NAME%" + pageTitle
    meta(charset="UTF-8")/
    meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")/
    meta(name="format-detection", content="telephone=no")/
    +vtex-controller('<vtex:template id="%TEMPLATE_PREFIX%Favicons" />')
      include ../subtemplates/Favicons
    +vtex-controller('<vtex:metaTags />')
    +vtex-controller('<vtex:template id="%TEMPLATE_PREFIX%Head-scripts" />')
    +vtex-controller()
      script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js")
      script
        include ../../../config/vtxctx.js
        if bodyClass == 'produto'
          include ../../../config/skuJson.js
        include ../../../config/vtexjs-mock.js

    block head

  body(class= bodyClass)
    include ../subtemplates/Header

    main
      block content

    include ../subtemplates/Newsletter
    include ../subtemplates/Footer

    block scripts

    +vtex-controller('<vtex:template id="%TEMPLATE_PREFIX%Bottom-scripts" />')
